main {
  padding: 2rem 0;
}

.container_zero_tasks {
  width: 46rem;
  margin: -1.5rem auto;
  padding: 4rem;
  display: flex;

  border-radius: 0.5rem;
  border-top: 1px solid var(--gray-400);
}

.no_chores_around_here {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--gray-300);
}

.no_chores_around_here img {
  margin-bottom: 1rem;
}
